.dashboard_container {
    position: relative;
}

#report_dashboard_dashboard {
    --positive: #c5e0b4;
    --warning: #fff2cc;
    --negative: #fbe4d5;
    --note: #d9edf7;
    --note2: rgb(248, 243, 252);
    --note3: rgb(244, 238, 238);
    --neutral: #00000007;

    table-layout: auto;

    thead {
        position: sticky;
        top: 60px;
        z-index: 1051; /* Above the Boost fixed header and just below the modal default of 1052 */

        th {
            background-color: #eee;
        }

        tr.filters th {
            border-bottom: 1px solid #999;
        }
    }

    span.tag {
        border-radius: 12px;
        padding: 2px 8px;
        display: inline-block;
        text-align: center;
        border: 1px solid #0002;
        min-width: 3em;
        white-space: nowrap;
        background-color: #fff7;
    }

    label.form-check-label:has(span:empty.tag) {
        /* To ensure the circle is on the right-margin */
        width: 100%;

        /* To ensure the circle does make the dropdown-item wrap 2em = width 1.5 + margin-left 0.5 */
        margin-right: 2em;
    }

    /* If empty, tag is rendered as an empty coloured circle */
    span:empty.tag {
        display: block;
        min-width: 1.5em;
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.5em;
        float: right;
    }

    div.tag-group {
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
    }

    .tools {
        display: none;
        position: absolute;
        left: 80%;
        top: -20%;
        height: 140%;
        background-color: var(--neutral);
        padding: 0 1em;
        border: 1px solid #0001;
        border-radius: 4px;

        >* {
            margin: 1em 0;
        }
    }

    .tc_name {
        > div {
            display: flex;
            flex-direction: row;
            gap: 0.3em;

            .firstname,
            .lastname {
                max-width: 15em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .tc_name:hover {
        .tools {
            display: flex;
            gap: 1em;
            align-items: center;
        }
    }

    tr.filters,
    .tc_lastaccessed {
        span.tag {
            &[data-filter-category="never"],
            &[data-filter-category="over4week"] {
                background-color: var(--negative);
            }

            &[data-filter-category="today"],
            &[data-filter-category="yesterday"],
            &[data-filter-category="1week"] {
                background-color: var(--positive);
            }

            &[data-filter-category="over1week"],
            &[data-filter-category="over2week"],
            &[data-filter-category="over3week"] {
                background-color: var(--warning);
            }
        }
    }

    tr.filters,
    .tc_groups {
        span.tag {
            max-width: 10em;
            text-overflow: ellipsis;
            overflow: hidden;

            &.tag-course-group {
                background-color: var(--note2);
            }

            &.tag-cohort-group {
                background-color: var(--note3);
            }

            &.tag-priority-group {
                background-color: var(--note);
            }
        }
    }

    tr.filters,
    .tc_lateassessments {
        span.tag {
            &[data-filter-category="yes"] {
                background-color: var(--negative);
            }

            &[data-filter-category="no"] {
                background-color: var(--positive);
            }
        }
    }

    tr.filters,
    .tc_assessment {
        span.tag {
            &[data-filter-category="notdue"] {
                background-color: var(--neutral);
            }

            &[data-filter-category="submitted"] {
                background-color: var(--positive);
            }

            &[data-filter-category="overdue"] {
                background-color: var(--negative);
            }

            &[data-filter-category="passed"] {
                background-color: var(--positive);
            }

            &[data-filter-category="failed"] {
                background-color: var(--negative);
            }

            &[data-filter-category="extension"] {
                background-color: var(--note);
            }
        }
    }

    .tc_assessment {
        span.tag:where([data-filter-category="passed"], [data-filter-category="failed"]) {
            &::after {
                content: "%";
                font-size: 0.8rem;
                color: #0007;
                padding-left: 0.1rem;
            }
        }
    }

    #group label span.membercount {
        /* membercount */
        font-size: smaller;
        color: #6a737b; /* same as dropdown-header */
        margin-left: 0.25em;

        &::before {
            content: "(";
        }

        &::after {
            content: ")";
        }
    }
}
