#page-report-dashboard-index {
    #region-main {
        max-width: 100%;
    }

    .gap-1 {
        gap: 0.25em;
    }

    .gap-2 {
        gap: 0.5em;
    }

    .gap-3 {
        gap: 1em;
    }

    label {
        font-weight: 400;
    }
}

.dashboard_header {
    .markdown {
        p {
            margin-bottom: 0;
        }

        ul {
            margin-bottom: 0;
            padding-inline-start: 1.2em;
        }
    }
}


.dashboard_container {
    position: relative;
}

#report_dashboard_dashboard {
    --positive: #c5e0b4;
    --warning: #fff2cc;
    --negative: #fbe4d5;
    --note: #d9edf7;
    --note2: rgb(248, 243, 252);
    --note3: rgb(244, 238, 238);
    --neutral: #00000007;

    table-layout: auto;
    width: 100%;

    thead {
        position: sticky;
        top: 60px;
        z-index: 1051; /* Above the Boost fixed header and just below the modal default of 1052 */

        th {
            background-color: #eee;
        }

        tr.filters th {
            border-bottom: 1px solid #999;
        }
    }

    span.rdbtag {
        border-radius: 12px;
        padding: 2px 8px;
        display: inline-block;
        text-align: center;
        border: 1px solid #0002;
        min-width: 3em;
        white-space: nowrap;
        background-color: #fff7;
    }

    label.form-check-label:has(span:empty.rdbtag) {
        /* To ensure the circle is on the right-margin */
        width: 100%;

        /* To ensure the circle does make the dropdown-item wrap 2em = width 1.5 + margin-left 0.5 */
        margin-right: 2em;
    }

    /* If empty, rdbtag is rendered as an empty coloured circle */
    span:empty.rdbtag {
        display: block;
        min-width: 1.5em;
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.5em;
        float: right;
    }

    div.rdbtag-group {
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
    }

    .tools {
        display: none;
        position: absolute;
        left: 80%;
        top: -20%;
        height: 140%;
        background-color: var(--neutral);
        padding: 0 1em;
        border: 1px solid #0001;
        border-radius: 4px;

        >* {
            margin: 1em 0;
        }
    }

    .tc_name {
        > div {
            display: flex;
            flex-direction: row;
            gap: 0.3em;

            .firstname,
            .lastname {
                max-width: 15em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        a.email-link {
            &::after {
                /* stylelint-disable-next-line function-url-scheme-disallowed-list */
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free v6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z'/%3E%3C/svg%3E");
                display: block;
                width: 0.8em;
                opacity: 0.5;
            }
        }

        &:hover a.email-link::after {
            opacity: 1;
        }
    }

    .tc_name:hover {
        .tools {
            display: flex;
            gap: 1em;
            align-items: center;
        }
    }

    tr.filters,
    .tc_lastaccessed {
        span.rdbtag {
            &[data-filter-category="never"],
            &[data-filter-category="over4week"] {
                background-color: var(--negative);
            }

            &[data-filter-category="today"],
            &[data-filter-category="yesterday"],
            &[data-filter-category="1week"] {
                background-color: var(--positive);
            }

            &[data-filter-category="over1week"],
            &[data-filter-category="over2week"],
            &[data-filter-category="over3week"] {
                background-color: var(--warning);
            }
        }
    }

    tr.filters,
    .tc_groups {
        span.rdbtag {
            max-width: 10em;
            text-overflow: ellipsis;
            overflow: hidden;

            &.rdbtag-course-group {
                background-color: var(--note2);
            }

            &.rdbtag-cohort-group {
                background-color: var(--note3);
            }

            &.rdbtag-priority-group {
                background-color: var(--note);
            }

            &.rdbtag-previousenrolments {
                background-color: var(--warning);
            }
        }
    }

    tr.filters,
    .tc_lateassessments {
        span.rdbtag {
            &[data-filter-category="yes"] {
                background-color: var(--negative);
            }

            &[data-filter-category="no"] {
                background-color: var(--positive);
            }
        }
    }

    tr.filters,
    .tc_earlyengagement,
    .tc_assessment {
        span.rdbtag {
            &[data-filter-category="notdue"] {
                background-color: var(--neutral);
            }

            &[data-filter-category="submitted"] {
                background-color: var(--positive);
            }

            &[data-filter-category="completed"] {
                background-color: var(--positive);
            }

            &[data-filter-category="overdue"] {
                background-color: var(--negative);
            }

            &[data-filter-category="passed"] {
                background-color: var(--positive);
            }

            &[data-filter-category="failed"] {
                background-color: var(--negative);
            }

            &[data-filter-category="extension"] {
                background-color: var(--note);
            }

            &[data-filter-category="notcompleted"] {
                background-color: var(--note);
            }
        }
    }

    .tc_assessment {
        span.rdbtag:where([data-filter-category="passed"], [data-filter-category="failed"]) {
            &::after {
                content: "%";
                font-size: 0.8rem;
                color: #0007;
                padding-left: 0.1rem;
            }
        }
    }

    [data-filter-count]::after {
        content: "(showing " attr(data-filter-count) " of " attr(data-filter-total) ")";
        font-size: smaller;
        color: #6a737b;
        margin-left: .25em;
    }

    [data-filter-total="0"][data-filter-count="0"]::after {
        content: "(none)";
    }
}
