#dashboard {
    --positive: #c5e0b4;
    --warning: #fff2cc;
    --negative: #fbe4d5;
    --note: #d9edf7;

    span.tag {
        border-radius: 12px;
        padding: 2px 8px;
        display: inline-block;
        text-align: center;
        border: 1px solid #0002;
        min-width: 3em;
        white-space: nowrap;
    }

    div.tag-group {
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
    }
}

.tools {
    display: none;
    position: absolute;
    left: 80%;
    top: -20%;
    height: 140%;
    background-color: #fffe;

    padding: 0 1em;

    border: 1px solid #0001;

    border-radius: 4px;

    >* {
        margin: 1em 0;
    }
}

.tc_name {
    position: relative;
}

.tc_name:hover {
    .tools {
        display: flex;
        gap: 1em;
        align-items: center;
    }
}

.tc_lastaccessed {
    span.tag {
        &[data-filter-category="never"],
        &[data-filter-category="4+"] {

            background-color: var(--warning);
        }

        &[data-filter-category="4+"] {
            background-color: var(--negative);
        }
    }
}

.tc_groups {

    span.tag {
        &[data-filter-category^="priority-"] {
            background-color: var(--note);
        }
    }
}

.tc_lateassessments {
    span.tag {
        &[data-filter-category="yes"] {
            background-color: var(--warning);
        }

        &[data-filter-category="no"] {
            background-color: var(--positive);
        }
    }
}

#assessment1,
.tc_assessment {
    span.tag {
        &[data-filter-category="notdue"] {
            background-color: var(--note);
        }

        &[data-filter-category="early"] {
            background-color: var(--note);
        }

        &[data-filter-category="extension"] {
            background-color: var(--note);
        }

        &[data-filter-category="notsubmitted"] {
            background-color: var(--warning);
        }

        &[data-filter-category="submitted"] {
            background-color: var(--positive);
        }

        &[data-filter-category="overdue"] {
            background-color: var(--negative);
        }

        &[data-filter-category="failed"] {
            background-color: var(--negative);
        }

        &[data-filter-category="passed"] {
            background-color: var(--positive);
        }
    }
}
