{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_dashboard/_header_filter_groups

    TODO describe template header_filter_groups

    Example context (json):
    {
    }
}}
<th>
    <div class="dropdown" id="group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" title="Group filter menu">
            <span>{{#str}} all, core {{/str}}</span>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item all" id="group_select_all" disabled="disabled">{{#str}} selectall, core {{/str}}</button>
            <button class="dropdown-item all" id="group_select_none">{{#str}} deselectall, core {{/str}}</button>

            <div class="dropdown-divider"></div>
            <p class="h6 dropdown-header" title="{{#str}} cohortgroupshelptext, report_dashboard {{/str}}">{{#str}} cohortgroups, report_dashboard {{/str}} <i class="fa fa-info-circle" aria-hidden="true"></i></p>
            {{^cohort_groups}}
            <div class="dropdown-item disabled">{{#str}} none {{/str}}</div>
            {{/cohort_groups}}
            {{#cohort_groups}}
                <div class="dropdown-item form-group mb-0">
                    <div class="form-check">
                        <label class="form-check-label"><input type="checkbox" class="form-check-input" name="groups" value="cohortgroup-{{id}}" checked="checked" data-label="{{groupname}}">{{groupname}}<span class="rdbtag rdbtag-cohort-group"></span>
                        </label>
                    </div>
                </div>
            {{/cohort_groups}}
            <div class="dropdown-divider"></div>
            <p class="h6 dropdown-header">{{#str}} coursegroups, report_dashboard {{/str}}</p>
            {{^groups}}
            <div class="dropdown-item disabled">{{#str}} none {{/str}}</div>
            {{/groups}}
            <div class="course_group_container">
            {{#groups}}
                <div class="dropdown-item form-group mb-0">
                    <div class="form-check">
                        <label class="form-check-label" data-filter-count="-"><input type="checkbox" class="form-check-input" name="groups" value="group-{{id}}" checked="checked" data-label="{{groupname}}">{{groupname}}<span class="rdbtag rdbtag-course-group"></span></label>
                    </div>
                </div>
            {{/groups}}
            </div>
            <div class="dropdown-divider"></div>
            <p class="h6 dropdown-header" title="Refer to {{#str}} instructions, report_dashboard {{/str}} above">{{#str}} prioritygroups, report_dashboard {{/str}} <i class="fa fa-info-circle" aria-hidden="true"></i></p>
            <!-- <div class="dropdown-item disabled">None</div> -->

<div class="dropdown-item form-group mb-0"><div class="form-check"><label class="form-check-label" data-filter-count="-"><input type="checkbox" class="form-check-input" name="groups" value="priority-international" checked="checked" data-label="International">International<span class="rdbtag rdbtag-priority-group"></span></label></div></div>
<div class="dropdown-item form-group mb-0"><div class="form-check"><label class="form-check-label" data-filter-count="-"><input type="checkbox" class="form-check-input" name="groups" value="priority-new" checked="checked" data-label="New">New to Massey<span class="rdbtag rdbtag-priority-group"></span></label></div></div>
<div class="dropdown-item form-group mb-0"><div class="form-check"><label class="form-check-label" data-filter-count="-"><input type="checkbox" class="form-check-input" name="groups" value="priority-maori" checked="checked" data-label="Māori">Māori<span class="rdbtag rdbtag-priority-group"></span></label></div></div>
<div class="dropdown-item form-group mb-0"><div class="form-check"><label class="form-check-label" data-filter-count="-"><input type="checkbox" class="form-check-input" name="groups" value="priority-pacific" checked="checked" data-label="Pacific">Pacific<span class="rdbtag rdbtag-priority-group"></span></label></div></div>

            <div class="dropdown-divider"></div>

            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label" data-filter-count="1"><input type="checkbox" class="form-check-input" name="groups" value="previousenrolments" checked="checked" data-label="Previous enrolment(s)">Previously enrolled <i class="fa fa-info-circle text-muted" aria-hidden="true" title="{{#str}} previousenrolmenthelptext, report_dashboard {{/str}}"></i><span class="rdbtag rdbtag-previousenrolments"></span></label>
                </div>
            </div>

            <div class="dropdown-divider"></div>

            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label" data-filter-count="1"><input type="checkbox" class="form-check-input" name="groups" value="nogroups" checked="checked" data-label="{{#str}} nogroups, report_dashboard {{/str}}">{{#str}} nogroups, report_dashboard {{/str}}</label>
                </div>
            </div>

        </div>
    </div>
</th>