{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_dashboard/_row

    TODO describe template row

    Example context (json):
    {
    }
}}
<tr>
<td class="tc_select"></td>
<td class="tc_name" data-search="{{row.username}} {{row.firstname}} {{row.lastname}}">
    <div><span class="username">{{row.username}}</span> <span class="firstname">{{row.firstname}}</span> <span class="lastname">{{row.lastname}}</span><a class="email-link" href="mailto:{{row.firstname}}%20{{row.lastname}}%3C{{row.email}}%3E" title="Email {{row.firstname}}..." onclick="event.stopPropagation();"></a></div>
</td>
<td class="tc_email" data-formatted-email="{{row.firstname}} {{row.lastname}} <{{row.email}}>">
    <div><span class="email">{{row.email}}</span></div>
</td>
<td class="tc_lastaccessed" data-order="{{row.lastaccessed_timestamp}}">
    <span class="rdbtag" data-filter-category="{{row.lastaccessed_filter_category}}">{{row.lastaccessed_label}}</span>
</td>
<td class="tc_groups groups">
<div class="rdbtag-group">
{{#groups}}
<span class="rdbtag {{class}}" data-filter-category="group-{{id}}" title="Course group '{{groupname}}'">{{groupname}}</span>
{{/groups}}
{{^groups}}
{{^cohort_groups}}
<span class="rdbtag rdbtag-course-group" data-filter-category="nogroups">None</span>
{{/cohort_groups}}
{{/groups}}
{{#cohort_groups}}
<span class="rdbtag {{class}}" data-filter-category="cohortgroup-{{id}}" title="Cohort (via meta-link) group '{{groupname}}'">{{groupname}}</span>
{{/cohort_groups}}
{{#row.international}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-international">International</span>
{{/row.international}}
{{#row.maori}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-maori">Māori</span>
{{/row.maori}}
{{#row.pacific}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-pacific">Pacific</span>
{{/row.pacific}}
{{#row.new}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-new" title="New to Massey">New</span>
{{/row.new}}
{{#row.previous_enrolments}}
<span class="rdbtag rdbtag-previousenrolments" data-filter-category="previousenrolments" title="Previous enrolment(s) in {{row.previous_enrolments}}">{{row.previous_enrolments}}</span>
{{/row.previous_enrolments}}
</div>
</td>
{{#earlyengagements}}
<td class="tc_earlyengagement earlyengagement{{earlyengagementid}}">
    <div class="rdbtag-group">
        {{#viewedlabel}}
        <span class="rdbtag" data-filter-category="{{viewedstatus}}" data-earlyengagementstatus="{{status}}">
        {{#vieweddate}}
        <i class="fa-regular fa-sm fa-eye" title="{{viewedlabel}}: {{vieweddate}}"></i>
        {{/vieweddate}}
        {{^vieweddate}}
        <i class="fa-regular fa-sm fa-eye-slash" title="{{viewedlabel}}"></i>
        {{/vieweddate}}
        </span>
        {{/viewedlabel}}
        <span class="rdbtag" data-filter-category="{{status}}">{{label}}</span>
    </div>
</td>
{{/earlyengagements}}
<td class="tc_lateassessments lateassessments">
{{#lateassessments}}
<span class="rdbtag" data-filter-category="yes">Yes</span>
{{/lateassessments}}
{{^lateassessments}}
<span class="rdbtag" data-filter-category="no">No</span>
{{/lateassessments}}
</td>
{{#assessments}}
<td class="tc_assessment assessment{{assessmentid}}">
    <div class="rdbtag-group">
        {{#viewedlabel}}
        <span class="rdbtag" data-filter-category="{{viewedstatus}}" data-assessmentstatus="{{status}}">
        {{#vieweddate}}
        <i class="fa-regular fa-sm fa-eye" title="{{viewedlabel}}: {{vieweddate}}"></i>
        {{/vieweddate}}
        {{^vieweddate}}
        <i class="fa-regular fa-sm fa-eye-slash" title="{{viewedlabel}}"></i>
        {{/vieweddate}}
        </span>
        {{/viewedlabel}}
        <span class="rdbtag" data-filter-category="{{status}}">{{label}}</span>
        {{#extension_date}}
        <span class="rdbtag" data-filter-category="extension" title="{{#userdate}} {{extension_date}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}">
            {{#str}} assessmentstatus_extension, report_dashboard {{/str}}
        </span>
        {{/extension_date}}
    </div>
</td>
{{/assessments}}
</tr>
