{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_dashboard/_row

    TODO describe template row

    Example context (json):
    {
    }
}}
<tr>
<td class="tc_select"></td>
<td class="tc_name" data-search="{{row.username}} {{row.firstname}} {{row.lastname}}">
    <div><span class="username">{{row.username}}</span> <span class="firstname">{{row.firstname}}</span> <span class="lastname">{{row.lastname}}</span><a class="email-link" href="mailto:{{row.firstname}}%20{{row.lastname}}%3C{{row.email}}%3E" data-toggle="tooltip" title="{{#str}} emailstudent, report_dashboard, {{row.firstname}}{{/str}}" onclick="event.stopPropagation();"></a></div>
</td>
<td class="tc_email" data-formatted-email="{{row.firstname}} {{row.lastname}} <{{row.email}}>">
    <div><span class="email">{{row.email}}</span></div>
</td>
<td class="tc_lastaccessed lastaccessed" data-order="{{row.lastaccessed_timestamp}}">
    <div class="rdbtag-group">
        <span class="rdbtag" data-filter-category="{{row.lastaccessed_filter_category}}" data-facet="courseaccess">{{row.lastaccessed_label}}</span>
        {{#row.lastaccessed_stream_category}}
        <span class="rdbtag compact" data-filter-category="{{row.lastaccessed_stream_category}}" data-facet="streamaccess" data-toggle="tooltip" title="{{row.lastaccessed_tooltip}}">
            <i class="fa-solid fa-sm {{row.lastaccessed_stream_icon}}"></i><span class="sr-only">{{row.lastaccessed_stream_label}}</span>
        </span>
        {{/row.lastaccessed_stream_category}}
    </div>
</td>
<td class="tc_groups groups">
<div class="rdbtag-group">
{{#groups}}
<span class="rdbtag {{class}}" data-filter-category="group-{{id}}" data-toggle="tooltip" title="{{#str}} coursegrouptooltip, report_dashboard, {{groupname}} {{/str}}">{{groupname}}</span>
{{/groups}}
{{^groups}}
{{^cohort_groups}}
<span class="rdbtag rdbtag-course-group" data-filter-category="nogroups">None</span>
{{/cohort_groups}}
{{/groups}}
{{#cohort_groups}}
<span class="rdbtag {{class}}" data-filter-category="cohortgroup-{{id}}" data-toggle="tooltip" title="{{#str}} cohorttooltip, report_dashboard, {{groupname}} {{/str}}">{{groupname}}</span>
{{/cohort_groups}}
{{#row.international}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-international">International</span>
{{/row.international}}
{{#row.maori}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-maori">Māori</span>
{{/row.maori}}
{{#row.pacific}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-pacific">Pacific</span>
{{/row.pacific}}
{{#row.new}}
<span class="rdbtag rdbtag-priority-group" data-filter-category="priority-new" data-toggle="tooltip" title="{{#str}} newtomassey, report_dashboard {{/str}}">New</span>
{{/row.new}}
{{#row.previous_enrolments}}
<span class="rdbtag rdbtag-previousenrolments" data-filter-category="previousenrolments" data-toggle="tooltip" title="{{#str}} previousenrolments, report_dashboard, {{row.previous_enrolments}} {{/str}}">{{row.previous_enrolments}}</span>
{{/row.previous_enrolments}}
</div>
</td>
{{#earlyengagements}}
<td class="tc_earlyengagement earlyengagement{{earlyengagementid}}">
    <div class="rdbtag-group">
        {{#viewedlabel}}
        <span class="rdbtag compact" data-filter-category="{{viewedstatus}}" data-earlyengagementstatus="{{status}}" data-facet="engagement" data-toggle="tooltip" title="{{#vieweddate}}{{viewedlabel}}: {{vieweddate}}{{/vieweddate}}{{^vieweddate}}{{viewedlabel}}{{/vieweddate}}">
        {{#vieweddate}}
        <i class="fa-regular fa-sm fa-eye"></i>
        {{/vieweddate}}
        {{^vieweddate}}
        <i class="fa-regular fa-sm fa-eye-slash"></i>
        {{/vieweddate}}
        </span>
        {{/viewedlabel}}
        <span class="rdbtag compact" data-filter-category="{{status}}" data-facet="submission" data-toggle="tooltip" title="{{label}}"><i class="fa-sm {{#completed}}fa-solid fa-circle-check{{/completed}}{{^completed}}fa-regular fa-circle-check{{/completed}}"></i><span class="sr-only">{{label}}</span></span>
    </div>
</td>
{{/earlyengagements}}
<td class="tc_lateassessments lateassessments">
{{#lateassessments}}
<span class="rdbtag" data-filter-category="yes">Yes</span>
{{/lateassessments}}
{{^lateassessments}}
<span class="rdbtag" data-filter-category="no">No</span>
{{/lateassessments}}
</td>
{{#assessments}}
<td class="tc_assessment assessment{{assessmentid}}">
    <div class="rdbtag-group">
        {{#viewedlabel}}
        <span class="rdbtag compact" data-filter-category="{{viewedstatus}}" data-assessmentstatus="{{status}}" data-facet="engagement" data-toggle="tooltip" title="{{#vieweddate}}{{viewedlabel}}: {{vieweddate}}{{/vieweddate}}{{^vieweddate}}{{viewedlabel}}{{/vieweddate}}">
        {{#vieweddate}}
        <i class="fa-regular fa-sm fa-eye"></i><span class="sr-only">{{viewedlabel}}</span>
        {{/vieweddate}}
        {{^vieweddate}}
        <i class="fa-regular fa-sm fa-eye-slash"></i><span class="sr-only">{{viewedlabel}}</span>
        {{/vieweddate}}
        </span>
        {{/viewedlabel}}
        <span class="rdbtag" data-filter-category="{{status}}" data-facet="submission">{{label}}</span>
        {{#extension_date}}
        <span class="rdbtag compact" data-filter-category="extension" data-toggle="tooltip" title="{{#str}} assessmentstatus_extension, report_dashboard {{/str}}: {{#userdate}} {{extension_date}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}" data-facet="extension">
            <i class="fa-regular fa-calendar-plus"></i><span class="sr-only">{{#str}} assessmentstatus_extension, report_dashboard {{/str}}</span>
        </span>
        {{/extension_date}}
    </div>
</td>
{{/assessments}}
</tr>
