{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_dashboard/dashboard

    Master template for course engagement dashboard

    Example context (json):
    {
        "description": "<p>Welcome to the Course Engagement Dashboard</p>",
        "instructions": "<p>Use filters to find students who need support.</p>",
        "limitations": "<p>Data is updated every 24 hours.</p>",
        "knownissues": "<p>Some grades may be delayed.</p>",
        "supportcontact": "<a href='mailto:support@example.com'>Contact Support</a>",
        "courseid": 123,
        "sesskey": "abc123def456",
        "earlyengagements": [
            {"id": 1, "name": "Orientation Quiz", "cmid": 101},
            {"id": 2, "name": "Introduction Forum", "cmid": 102}
        ],
        "hiddenearlyengagements": [
            {"name": "Hidden Quiz", "cmid": 103, "courseid": 123, "sesskey": "abc123def456"}
        ],
        "assessments": [
            {"id": 10, "name": "Assignment 1", "cmid": 201},
            {"id": 11, "name": "Assignment 2", "cmid": 202}
        ],
        "hiddenassessments": [
            {"name": "Hidden Assignment", "cmid": 203, "courseid": 123, "sesskey": "abc123def456"}
        ],
        "cohort_groups": [
            {"id": 1, "groupname": "2024 Cohort A"},
            {"id": 2, "groupname": "2024 Cohort B"}
        ],
        "groups": [
            {"id": 5, "groupname": "Tutorial Group 1"},
            {"id": 6, "groupname": "Tutorial Group 2"}
        ],
        "rows": [
            {
            "row": {
                "username": "jsmith01",
                "firstname": "John",
                "lastname": "Smith",
                "lastaccessed_timestamp": 1703520000,
                "lastaccessed_filter_category": "today",
                "lastaccessed_label": "Today",
                "international": true,
                "maori": false,
                "pacific": false,
                "new": true,
                "previous_enrolments": "COMP101, COMP102"
            },
            "groups": [
                {"id": 5, "groupname": "Tutorial Group 1", "class": "rdbtag-course-group"}
            ],
            "cohort_groups": [
                {"id": 1, "groupname": "2024 Cohort A", "class": "rdbtag-cohort-group"}
            ],
            "earlyengagements": [
                {"earlyengagementid": 1, "status": "completed", "label": "Completed"},
                {"earlyengagementid": 2, "status": "notcompleted", "label": "Not completed"}
            ],
            "lateassessments": true,
            "assessments": [
                {"assessmentid": 10, "status": "submitted", "label": "Submitted", "extension_date": null},
                {"assessmentid": 11, "status": "overdue", "label": "Overdue", "extension_date": 1704124800}
            ]
            }
        ]
    }
}}
{{> report_dashboard/_header_headings }}
{{> report_dashboard/_header_filter_name }}
{{> report_dashboard/_header_filter_groups }}
{{> report_dashboard/_header_filter_earlyengagements }}
{{> report_dashboard/_header_filter_assessments }}
{{> report_dashboard/_header_end }}
{{#rows}}
{{> report_dashboard/_row }}
{{/rows}}
{{> report_dashboard/_footer }}