{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_dashboard/header_filter_assessments

    TODO describe template header_filter_assessments

    Example context (json):
    {
    }
}}
<!-- Late assessments filter -->
<th>
    <div class="dropdown" id="lateassessments">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <span>All</span>
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="lateassessments" id="lateassessments_all" value="all" checked data-label="All">
                    <label class="form-check-label" for="lateassessments_all">
                        <span>All</span>
                    </label>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="lateassessments" id="lateassessments_yes" value="yes" data-label="Yes">
                    <label class="form-check-label" for="lateassessments_yes">
                        Yes<span class="tag" data-filter-category="yes"></span>
                    </label>
                </div>
            </div>
            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="lateassessments" id="lateassessments_no" value="no" data-label="No">
                    <label class="form-check-label" for="lateassessments_no">
                        No<span class="tag" data-filter-category="no"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</th>
{{#assessments}}
<th class="dt-left">
    <div class="dropdown assessment_filter" id="assessment{{id}}" data-assessmentid="{{id}}">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <span>All</span>
        </button>
        <div class="dropdown-menu" data-assessmentid="{{id}}">
            <button class="dropdown-item all" id="assessment{{id}}_select_all" disabled="disabled">Select all</button>
            <button class="dropdown-item all" id="assessment{{id}}_select_none">Clear all</button>

            <div class="dropdown-divider"></div>

            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="assessment{{id}}_filter" value="notdue" checked="checked" data-label="{{#str}} assessmentstatus_notdue, report_dashboard {{/str}}">
                        {{#str}} assessmentstatus_notdue, report_dashboard {{/str}}<span class="tag" data-filter-category="notdue"></span>
                    </label>
                </div>
            </div>

            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="assessment{{id}}_filter" value="submitted" checked="checked" data-label="{{#str}} assessmentstatus_submitted, report_dashboard {{/str}}">
                        {{#str}} assessmentstatus_submitted, report_dashboard {{/str}}<span class="tag" data-filter-category="submitted"></span>
                    </label>
                </div>
            </div>

            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="assessment{{id}}_filter" value="overdue" checked="checked" data-label="{{#str}} assessmentstatus_overdue, report_dashboard {{/str}}">
                        {{#str}} assessmentstatus_overdue, report_dashboard {{/str}}<span class="tag" data-filter-category="overdue"></span>
                    </label>
                </div>
            </div>
            
            <div class="dropdown-divider"></div>
            
            
            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="assessment{{id}}_filter" value="passed" checked="checked" data-label="{{#str}} assessmentstatus_passed, report_dashboard {{/str}}">
                        {{#str}} assessmentstatus_passed, report_dashboard {{/str}}<span class="tag" data-filter-category="passed"></span>
                    </label>
                </div>
            </div>
            
            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="assessment{{id}}_filter" value="failed" checked="checked" data-label="{{#str}} assessmentstatus_failed, report_dashboard {{/str}}">
                        {{#str}} assessmentstatus_failed, report_dashboard {{/str}}<span class="tag" data-filter-category="failed"></span>
                    </label>
                </div>
            </div>
            
            <div class="dropdown-divider"></div>
            
            <div class="dropdown-item form-group mb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="assessment{{id}}_filter" value="extension" checked="checked" data-label="{{#str}} assessmentstatus_notdue, report_dashboard {{/str}}">
                        {{#str}} assessmentstatus_extension, report_dashboard {{/str}}<span class="tag" data-filter-category="extension"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</th>
{{/assessments}}